body {
    background:#eceaea;
    font-size:17px; 
    line-height:26px; 
    color: rgb(88, 88, 88);
    font-family: 'Tahoma';
}
.h1 { font-size: 5.5em;}
.filters li {
    border-top: 1px dotted #d4d4d4;
    padding: 10px 10px 10px;
    border-top: 1px dotted #d4d4d4;
    list-style:none;
    margin: 0px;
}
.col-md-3.col-sm-12.col-xs-12.sidebar-box {
    background:#fff; 
    box-shadow: 0px 0px .5px 0px rgba(50, 50, 50, 0.95);
    border: 1px solid gainsboro;
    margin-top: 1em;
}
.col-md-3 h4 { padding-top: .8em; }
.col-md-3 ul { font-size: .8em; }
.col-sm-6 .sidebar-box { margin-top: 1.2em; }

.sidebar-box ul {margin:0px; padding:0px;}  
.sidebar-box ul a {font-size:16px; letter-spacing:1px; color:#000;}
.sidebar-box ul a:hover {list-style:none;text-decoration: none;}
.sidebar-box h4 { padding: 10px 10px 10px; font-size: 20px;}

.content-box {padding:15px ;background:#fff; box-shadow: 0px 0px .5px 0px rgba(50, 50, 50, 0.95);}

.col-md-9 img { width: 100%; padding-top: 1.5em; }
.col-md-9 h5 { padding: 1.5em 0 1em 0; font-style: italic; }
table tr th, table tr td {
    font-size: .75em;
    max-width: 325px;
}

a#reset {
    float: right;
    margin-right: 1.1em;
}

/* Progress bar */
.bar {
   display: block;
   overflow: hidden;
   height: 18px;
   width: 0px;
   border: 1px solid rgba(0, 0, 0, 0.5);
   border-radius: 10px;
   margin-bottom: 5px;
   margin-left: 10px;
   box-shadow: 1px 1px 1px #888888;
}

select#city {
    max-width: 11em;
}

.col-md-9.col-sm-12.col-xs-12 table {
    margin-top: 1em;
}

#spinner {
    display: block;
    background-image: url("../images/loading_spinner.gif");
    background-repeat: no-repeat;
    position: fixed; 
    top: 28em; 
    left: 29em;
    right: 0;
    bottom: 0;
    z-index: 2;    
}